@charset "utf-8";
/* CSS Document */
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;700;800&display=swap');

* {
	margin: 0px;
	padding: 0px;
	font-family: "Nunito";
	
}
body{
	background-image: url("img/index/fondoindex.jpg");
	background-attachment:scroll;
 	background-repeat: no-repeat;
	background-position: top left;
	background-size:contain;
}
/*-----------------header general-----------------*/

header{
	background:#FEABD9;
	height:100px;
	position: fixed;
	width: 100%;
	z-index: 1000;
}

/*------menu-header-----*/
.nav-flex{
	display: flex;
	align-items: center;
}
.nav-logo{
	padding: 10px 40px 10px 64px;
}
.buscar{
	width: 100%;
	max-width: 700px;
	background: white;
	border-radius: 40px;
	padding: 10px 130px 10px 20px;
	border: 1px solid black;
}
.buscador-form {
	width: 100%;
	display: flex;
	flex-direction: row-reverse;
	align-items:center;
	justify-content: center;
}
.buscar-texto{
	width: 100%;
	max-width: 700px;
	border: none;
	background: none;
	outline: none;
	color: black;
	font-size: 20px;
	font-weight: 800;
	margin-left: 20px;
}

.menu{
	display: flex;
	position: absolute;
	left: 1181px;
	margin-top: 10px;
}
.botones-menu {
	display: flex;
}
.botones-menu a {
	font-weight: 800;
	font-size: 1.25em;
	text-align: center;
	color: #0E6372;
	background-color: #92DDEA;
	border: 1px solid black;
	border-radius: 20px;
	height: 36px;
	width: 150px;
	box-sizing: border-box;
	padding: 6% 30%;
}
.botones-menu a{
	display: flex;
	align-items: center;
	justify-content: center;
}
.botones-menu li{
	padding-bottom: 10px;
	margin-right: 32px;
}
.nav-perfil{
	display: flex;
	align-items: center;
	position: absolute;
	right: 75px;
	padding: 60px 0px 50px;
}

/*-------------circulos secciones home------------*/
/*esto es para que al apretar en cada círculo no salte de sección de repente sino que fluya*/

html {
	scroll-behavior: smooth;
	transition-duration: 3s;
}
.circulos {
	display: flex;
	flex-direction: column;
	position: fixed;
	right: 30px;
	top: 50%;
}
.circulos li {
	display: flex;
	justify-content: center;
	padding: 2px;
}
.circulos a {
	width: 21px;
	height: 21px;
	border-radius: 100%;
	background-color: white; 
	border: 2px solid black
}
.circulos a:hover {
	background-color: #92DDEA
}
.circulos a:active {
	background-color: #2CA6BC;
}
.circulos a:focus {
	background-color: #2CA6BC;
}
/*-----seccion bienvenidx-----*/
#bienvenida {
	padding: 10%;
}
.bienvenidx{
	font-style: normal;
	font-weight: 800;
	font-size: 3.75em;
	color: white;
	background-color:#ff20ac;
	border:1px solid black;
	border-radius: 20px;
	text-align: center;
	width: 742px;
}
.texto-principal p{
	font-style: normal;
	font-weight: 700;
	font-size: 1.875em;
	line-height: 41px;
	text-align: justify;
	color: black;
	margin-top: 10px;
	padding-top: 20px;
	padding-bottom: 40px;
	padding-left: 50px;
	padding-right: 50px;
	width: 742px;
	box-sizing: border-box;
	background: white;
	border: 1px solid black;
	border-radius: 32px;
}
.texto-mobile {
	display: none;
}
/*-----seccion objetivos-----*/
h2{
	font-weight: 700;
	font-size: 2.5em ;
	color: white;
	background-color:#ff20ac;
	border:1px solid black;
	height: 87px;
	width: 412px;
	border-radius: 20px;
	text-align: center;
}
.texto-objetivos ul {
	background-color: white;
	border: 0.5px solid black;
	height: 150px;
	width: 30%;
	border-radius: 15px;
	margin-top: 10px;
	padding-top: 20px;
	padding-bottom: 40px;
	padding-left: 20px;
	padding-right: 20px;
}
/*-----seccion contenido-----*/
h3{
	font-weight: 700;
	font-size: 1.875em;
	color: white;
	background-color:#ff20ac;
	border:1px solid black;
	height: 40px;
	width: 232px;
	box-sizing:border-box;
	border-radius: 20px;
	text-align: center;
	padding-top:7px;
}
.p-contenidos{
	color: black;
	background-color: white;
	border:1px solid black;
	height: 115px;
	width: 232px;
	border-radius: 20px;
	text-align: center;
	font-size: 1.25em;
	font-weight: 400;
	margin-top:10px;
	box-sizing: border-box;
	padding-top: 15px;
}
/*-------seccion disfruta---------*/
#disfruta{
	padding: 10% 10% 5% 10%;
	box-sizing: border-box;
}
#disfruta article {
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 20px;
}
#disfruta h4 {
	text-align: center;
	padding-bottom: 0px;
	color: #FF20AC;
	font-weight: 800;
	font-size: 3.75em;
	font-style: normal;
}
/*-------animacion de los stickers---------*/
.imagen-disfruta {
	width: 42%;
	height: 532px;
	background-image: url("img/index/cierre-animacion-home.png");
	background-size: 100%;
	animation: cierre-animacion-home alternate 2s infinite ease-in-out;
	animation-delay: 0s;
	animation-fill-mode: none;
	animation-play-state: running;
	background-repeat: no-repeat;
}
@keyframes cierre-animacion-home{
	0%{
		background-image: url("img/index/cierre-animacion-home.png");
	}
	50%{
		background-image: url("img/index/cierre-animacion-2.png");
	}
	100%{
		background-image: url("img/index/cierre-animacion-home.png");
	}
}
/*-------footer---------*/
.footer-flex {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-content: center;
	align-items: center;
}
footer {
	font-weight:700;
	width: 100%;
	height: 50px;
	color: #0E6372;
	background-color:#92DDEA;
	padding: 16px 0px;
}
#posicion-texto-footer {
	padding: 0px 0px 0px 64px;
	font-size: 1.0625em;
}
#posicion-redes-footer {
	display: flex;
	flex-direction: row;
	align-items: center;
	padding: 0px 64px 0px 0px;
}
.redes {
	padding: 0px 8px;
}