@charset "utf-8";
/* CSS Document */
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;700;800&display=swap');

* {
	margin: 0px;
	padding: 0px;
	font-family: "Nunito";
	list-style: none;
	text-decoration: none;
	
}
body{
	background-image: url("img/index/fondoindex.jpg");
	background-position: top left;
	background-size:100%;
}
/*-----------------header general-----------------*/

header{
	width: 100%;
	height:100px;
	padding: 15px 5%;
	background:#FEABD9;
	position: fixed;
	z-index: 1000;
	display: flex;
	justify-content: center;
	align-items: center;
	top: 0;
	box-sizing: border-box;
}

/*------menu-header-----*/
.logo{
	argin-right: 24px;
	display: flex;
	justify-content:flex-start;
}
.logo img{
	width: 174px;
	height: auto;
	margin-right: 27px;
}
/*------animacion logo nav-----*/
.logo {
	animation: logo-movimiento normal 10s 1s 1 ease;
}
@-webkit-keyframes logo-movimiento {
	0% {
		transform: scale3d(1, 1, 1);
	}
	1%, 2% {
		transform: scale3d(0.9, 0.9, 0.9) rotate3d(0, 0, 1, -3deg);
	}
	3%, 5%, 7%, 9% {
		transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, 3deg);
	}
	4%, 6%, 8% {
		transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, -3deg);
	}
	10%, 100% {
		transform: scale3d(1, 1, 1);
	}
}
/*------==================-----*/
.buscar{
	width: 100%;
	max-width: 700px;
	background: white;
	padding: 10px 10px 10px 20px;
	border-radius: 40px;
	border: 1px solid black;
}
.buscador-form {
	display: flex;
	flex-direction: row-reverse;
	align-items:center;
	justify-content: center;
}
.buscar-texto{
	width: 100%;
	max-width: 700px;
	margin-left: 20px;
	font-size: 1.25em;
	font-weight: 800;
	border: none;
	background: none;
	outline: none;
	color: black;
}

.menu{
	max-width: 577px;
	display: flex;
	align-items: center;
	justify-content: flex-start;
}
.botones-menu {
	padding-left: 6%;
	display: flex;
	align-items: center;
}
.botones-menu a {
	width: 150px;
	height: 36px;
	padding: 6% 30%;
	font-weight: 800;
	font-size: 1.25em;
	text-align: center;
	color: #0E6372;
	background-color: #92DDEA;
	border: 1px solid black;
	border-radius: 20px;
	box-sizing: border-box;
}
.botones-menu a{
	display: flex;
	align-items: center;
	justify-content: center;
}
.botones-menu li{
	margin-right: 32px;
}
/*------animacion botones nav-----*/
.botones-menu li:hover, .botones-menu li:focus {
border-radius: 40px;
animation: shadow-pop-br 0.3s cubic-bezier(0.470, 0.000, 0.745, 0.715) both;
}
@keyframes shadow-pop-br {
	0% {
		box-shadow: 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e;
		transform: translateX(0) translateY(0);
		}
	100% {
		box-shadow: 1px 1px #3e3e3e, 2px 2px #3e3e3e, 3px 3px #3e3e3e, 4px 4px #3e3e3e, 5px 5px #3e3e3e, 6px 6px #3e3e3e, 7px 7px #3e3e3e, 8px 8px #3e3e3e;
		transform: translateX(-8px) translateY(-8px);
		}
	}
/*-----======================-----*/
.nav-perfil img {
	display: flex;
	justify-content: flex-end;
	align-items: center;
}

/*-------------circulos secciones home------------*/
/*esto es para que al apretar en cada círculo no salte de sección de repente sino que fluya*/

html {
	scroll-behavior: smooth;
	transition-duration: 3s;
}
.circulos {
	display: flex;
	flex-direction: column;
	position: fixed;
	right: 30px;
	top: 50%;
}
.circulos li {
	padding: 2px;
	display: flex;
	justify-content: center;
}
.circulos a {
	width: 21px;
	height: 21px;
	border-radius: 100%;
	background-color: white; 
	border: 2px solid black
}
.circulos a:hover {
	background-color: #92DDEA
}
.circulos a:active {
	background-color: #2CA6BC;
}
.circulos a:focus {
	background-color: #2CA6BC;
}
/*-----seccion bienvenidx-----*/
#bienvenida {
	padding: 14% 7% 14% 1%;
	box-sizing: border-box;
	display: flex;
	justify-content: center;
	align-items: flex-end
}
.bienvenidx{
	padding: 2% 6%;
	font-style: normal;
	font-weight: 800;
	font-size: 3.75em;
	color: white;
	background-color:#ff20ac;
	border:1px solid black;
	border-radius: 20px;
	text-align: center;
}
.texto-principal{
	max-width: 652px;
}
.texto-principal p{
	padding: 20px 50px 50px 40px;
	margin-top: 10px;
	font-style: normal;
	font-weight: 700;
	font-size: 1.875em;
	line-height: 41px;
	text-align: justify;
	color: black;
	box-sizing: border-box;
	background: white;
	border: 1px solid black;
	border-radius: 32px;
}
.texto-mobile {
	display: none;
}
.logo-bienvenida {
	display: flex;
	align-items: center;
	position: relative;
	left: 35px;
	z-index: 10;
}
	/*-----animacion iso seccion bienvenidx-----*/
.logo-bienvenida {
	width: 57%;
	height: 321px;
	background-image: url( "img/index/logobienvenida.png");
	background-size: 100%;
	animation: iso-bienvenidx alternate 2s infinite ease-in-out;
	background-repeat: no-repeat;
}
@keyframes iso-bienvenidx{
	0%{
		background-image: url("img/index/logobienvenida.png");
	}
	50%{
		background-image: url("img/index/logo-animacion-b.png");
	}
	100%{
		background-image: url("img/index/logobienvenida.png");
	}
 }
/*-----seccion objetivos-----*/
h2{
	font-weight: 700;
	font-size: 2.5em ;
	color: white;
	background-color:#ff20ac;
	border:1px solid black;
	border-radius: 20px;
	text-align: center;
	box-sizing: border-box;
}
.h1-objetivo {
	padding: 3% 6%;
}
#objetivos {
	padding: 12% 8% 14%;
	box-sizing: border-box;
	display: flex;
	justify-content: center;
	align-items: center;
}
.img-harta {
	width: 100%;
	max-width: 1138px;
	height: auto;
}
.box-objetivos {
	position: relative;
	right: 100px;
	z-index: 20;
}
.ul-objetivos{
	padding: 50px 20px 40px;
	margin-top: 10px;
	font-size: 1.5em;
	background-color: white;
	border: 0.5px solid black;
	border-radius: 15px;
	box-sizing: border-box;
}
.objetivos-items{
	display:flex;
}
/*-----seccion contenido-----*/
h3{
	width: 232px;
	height: 40px;
	font-weight: 700;
	font-size: 1.875em;
	color: white;
	background-color:#ff20ac;
	border:1px solid black;
	box-sizing:border-box;
	border-radius: 20px;
	text-align: center;
	display: flex;
	justify-content: center;
	align-items: center;
}
.p-contenidos{
	width: 232px;
	height: 115px;
	padding: 15px;
	margin-top:10px;
	font-size: 1.25em;
	font-weight: 400;
	color: black;
	background-color: white;
	border:1px solid black;
	border-radius: 20px;
	text-align: center;
	box-sizing: border-box;
	display: flex;
	justify-content: center;
	align-items: center
}
#contenido {
	width: 75%;
	padding: 7% 10% 0%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
#contenido h2 {
	padding: 1% 5%;
	display:flex;
	justify-content: center;
	text-align:center;
}
#contenido ul {
	display: flex;
	justify-content: center;
	justify-content: space-between;
}
#contenido li {
	width: 23%;
	padding: 3% 1%;
	margin: 10px 30px;
	gap: 20px;
	box-sizing: border-box;
	display: flex;
	flex-direction: column;
	align-items: center;
}
.aricle-contenido{
	display:flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
/*-------seccion disfruta---------*/
#disfruta{
	padding: 10% 10% 5% 10%;
	box-sizing: border-box;
}
#disfruta article {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 10px;
}
#disfruta h4 {
	padding-bottom: 0px;
	font-weight: 800;
	font-size: 3.75em;
	font-style: normal;
	text-align: center;
	color: #FF20AC;
}
/*-------animacion de los stickers---------*/
.imagen-disfruta {
	width: 42%;
	height: 532px;
	background-image: url("img/index/cierre-animacion-home.png");
	background-size: 100%;
	animation: cierre-animacion-home alternate 2s infinite ease-in-out;
	background-repeat: no-repeat;
}
@keyframes cierre-animacion-home{
	0%{
		background-image: url("img/index/cierre-animacion-home.png");
	}
	50%{
		background-image: url("img/index/cierre-animacion-2.png");
	}
	100%{
		background-image: url("img/index/cierre-animacion-home.png");
	}
}
/*-------footer---------*/
.footer-flex {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-content: center;
	align-items: center;
}
footer {
	width: 100%;
	height: 50px;
	font-weight:700;
	padding: 16px 0px;
	color: #0E6372;
	background-color:#92DDEA;
}
#posicion-texto-footer {
	padding: 0px 0px 0px 64px;
	font-size: 1.0625em;
}
#posicion-redes-footer {
	padding: 0px 64px 0px 0px;
	display: flex;
	flex-direction: row;
	align-items: center;
}
.redes {
	padding: 0px 8px;
}
/*--------------------------------FERIAS-FERIAR.HTML----------------------------------------*/
#main-ferias {
	padding: 10% 70px 30px;
	background-image: url("img/ferias/fondo.jpg");
	background-size: 100%;
	
}
.ferias{
	display: flex;
	flex-direction: column;
	align-items: center;
	align-content: center;
}
.ferias h1{
	height: 87px;
	padding: 1% 4%;
	font-weight: 700;
	font-size: 2.5em;
	color: white;
	background-color: #ff20ac;
	border: 1px solid black;
	border-radius: 20px;
	text-align: center;
	display: flex;
	align-items: center;
	justify-content: center;
}
/*-------ferias carrusel--------*/
.lista-ferias {
	margin: 2% 0%;
	
	display: grid;
	grid-template-rows: 390px;
	grid-template-columns: 360px 360px 360px 360px 360px 360px 360px;
	grid-column-gap: 20px;
	grid-auto-flow: column;
	
	justify-content: space-between;
	justify-items: center;
	align-content: center;
	align-items: center;
	
	width: 100%;
	max-width: 1920px;
	height: 600px;
	scroll-snap-type: x mandatory;
	overflow-x: scroll;
	overflow-y: hidden;
	
}
.ferias-graficas {
	width: 75%;
	padding: 0px 20px 0px 10px;
	object-fit: cover;
	scroll-snap-align: center;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}
.ferias-nombre {
	width: 70%;
	height: 38px;
	margin: 40px 20px 0px 20px;
	font-weight: 700;
	font-size: 1.5625em;
	color: black;
	text-align: center;
}
/*---------animacion ferias rotacion--------*/
.logo-fg:hover, .logo-fg:focus, .logo-fg:active {
	animation: ferias-rotacion normal 0.8s 1 ease-in-out both;
}
@keyframes ferias-rotacion {
	0% {
		transform: rotateY(0);
	}
	100% {
		transform: rotateY(360deg);
	}
}
/*--------------------------------FERIA-GRAFICA.HTML----------------------------------------*/
#main-feria-grafica {
	padding: 10% 70px 30px;
	background-image: url("img/fg/fondo-fg.png");
	background-size: 100%;
	
}